* { margin:0px; }
.begin_end { font-size: 31px; background: #caff63; } 
hr { width: 99%; margin-left: auto; margin-right: auto; margin-top: 15px; margin-bottom: 15px; }
.div_destination { font-size: 31px; text-align: center; background-color: #caff63; }
.div_content { margin-left: 5%; }
nav { border: 1px dotted gray; width: 24.5%; height: 1784px; margin-left: 0.5%; float: left; background-color: #ffd09b; clear: left; }
.ul_empty { list-style-type: square; font-size: 21px; font-weight: bold; }
.ul_empty2 { list-style-type: square; font-size: 21px; font-weight: bold; color: blue; }
a { color: #2e2e2e; font-weight: normal; font-size: 19px; text-decoration: none; font-style: italic; }
.a_class { color: blue; }
.list_task { border: 1px dotted gray; width: 74%; height: 1850px; margin-left: 0.5%; }
.git { color: black; font-weight: bold; font-size: 31px; }
.count { font-size: 31px; text-align: center; font-weight: bold; border: 1px dotted gray; width: 24.5%; height: 50px; margin-left: 0.5%; margin-bottom: 15px; float: left; background-color: #9cfffd; float: left; }
nav hr { width: 95%; margin-right: 1px; }
.for_pc {}
.for_mobile {}
@media (max-width: 1023px) { .for_pc { display:none; } }
@media (min-width: 1024px) { .for_mobile { display:none; } }
p { text-align: center; font-size: 4em; }